.form-field{
    background-color: cadetblue;
    color:white;
}
.form-field::placeholder{
    color: white;
    text-align: center;
}
.sidebar{
    position: fixed;
    width: 200px;
    height: 400px;
    background: #000;
}
a:hover{
    transform: scale(1.3);
}
.selectcourse{
    font-size: larger;
}